<body id="body">
<pre>
HOW TO UPLOAD
============

Files can be uploaded <a href="#">here</a> under the condition that the <a href="key">access key</a> is valid.

Note: The maximum allowed file size is 1000 MiB.


SOURCE
------

This project is open source and available on 
<a href="https://github.com/veudal/veudal.github.io">GitHub</a>


TERMS OF SERVICE
----------------

veudal.github.io is NOT a platform for:
    - piracy
    - pornography
    - extremist material of any kind
    - malware / botnet
    - backups
    - doxxing, database dumps containing personal information
    - anything illegal under German law

Uploads found to be in violation of these rules will be removed,
and the originating IP address blocked from further uploads.


FILE RETENTION PERIOD
---------------------

Files are kept for a minimum of 7, and a maximum of 180 Days.

How long a file is kept depends on its size. Larger files are deleted earlier 
than small ones. This relation is non-linear and skewed in favour of small 
files.

The exact formula for determining the maximum age for a file is:

MIN_AGE + (-MAX_AGE + MIN_AGE) * (FILE_SIZE / MAX_SIZE - 1)^5


 Days
   180 |\
       | \
       |  \
       |   \
       |    \
       |     \
       |      \
  93.5 |-------..-----------------------------------------------
       |         ..
       |          \
       |           ..
       |             ...
       |               ..
       |                 ...
       |                   ....
   7   |                       ................................
        0                 512.0                          1024.0
                                                            MiB


PRIVACY POLICY
--------------

For the purpose of moderation, the following is stored with each
uploaded file:
    - IP address

This site logs the file size of every successfull and failed upload.


CONTACT
-------

If you want to report abuse of this service, request deletion, request an access key, or have any other requests, 
please write an email to veud&#64;proton.me


SUPPORT
-------

Litecoin me a pizza: ltc1qec7rg78kahkxqvvk28qj8qm350s8f0run3s3f0
Or buy me a coffee with Solana: GZC3hhEGWfvrZa7qjGNUK3r5gM61cNNvuvVFREXZDMWP
</pre>
</body>
