<main>
  <div class="flex flex-col items-center justify-center ml-5 h-screen">
    <p>File: {{name}}</p>
    <button id="downloadBtn" type="button"
            [disabled]="isDownloading"
            (click)="downloadClick()"
            class="text-sm font-medium w-[40%] border border-blue-500 px-4 py-3 bg-blue-500 text-blue-50 rounded-lg hover:bg-blue-600 ease-in-out disabled:bg-gray-300 disabled:border-gray-300 disabled:text-gray-500">
      {{ !isDownloading ? 'DOWNLOAD' : 'DOWNLOADING...'}}
    </button>
    <p>{{progress}}%</p>
    <p>File size: {{size}}</p>
  </div>
</main>
