h1 {
  font-size: 3.5rem;
  color: var(--header);
  font-weight: 700;
  letter-spacing: -0.125rem;
}

* {
  box-sizing: border-box;
}

main {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
}

.uploadArea {
  background-color: var(--bg-upload-area)
}

progress {
  background-color: red;
}

.content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 700px;
  margin-bottom: 3rem;
}

  .content h1 {
    margin-top: 1rem;
  }

  .content p {
    margin-top: 1.5rem;
  }

.progress-bar {
  height: 100%;
  width: 0;
  transition: width 0.3s ease;
  background-color: #7444ff;
}

.info {
  color: var(--text)
}

.svg {
  stroke: var(--text);
  width: 42px;
  height: 42px;
}

.actionAreaDiv {
  background-color: var(--bg)
}

.progress-border-div {
  border-color: var(--progress-border-brush);
}

.border-div {
  border-color: var(--border-brush);
}
