<main id="main" class="center-content">
  <div class="content">
    <div>
      <h1 class="text-center relative z-1">Filehost Service</h1>
      <div id="uploadArea" class="uploadArea flex flex-col items-center px-10 pt-[30px] pb-[30px] mt-12 rounded-3xl">
        <div class="relative flex flex-col outline-gray-500 outline-2 -outline-offset-4 outline-dashed w-[300px] h-[280px] rounded-2xl items-center justify-center">
          <input #fileInput
                 type="file"
                 (change)="handleFileChange($event)"
                 class="absolute w-full h-full cursor-pointer opacity-0 top-0 left-0" />
          <span class="mb-6">
            <svg class="svg" fill="none" viewBox="0 0 24 24" stroke-width="1">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 8.25H7.5a2.25 2.25 0 0 0-2.25 2.25v9a2.25 2.25 0 0 0 2.25 2.25h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25H15m0-3-3-3m0 0-3 3m3-3V15" />
            </svg>
          </span>
          <p class="info text-center text-base max-w-[90%]">Drag and drop <br /> file here to upload.</p>
          <button type="button"
                  (click)="reset(); fileInput.click()"
                  class="z-10 mt-6 text-green-50 px-6 py-3 bg-green-500 rounded-lg font-medium text-base hover:bg-green-600 ease-in-out">
            Browse File
          </button>
        </div>
        <div [ngStyle]="{ 'background-image': 'url(' + fileUrl + ')' }" *ngIf="fileUrl"
             class="border-div flex flex-col mt-4 justify-end border w-[300px] h-[350px] rounded-2xl items-center relative bg-cover bg-center overflow-hidden bg-gray-300">
          <div class="actionAreaDiv flex flex-col justify-center items-center w-full">
            <p class="info text-center font-medium whitespace-nowrap text-lg overflow-ellipsis overflow-hidden w-[90%] text-gray">{{ targetFile?.name }}</p>
            <input [hidden]="successfulUpload" [disabled]="isUploading" id="password" class="bg-red-100 py-2 font-bold text-lg mt-4 rounded-lg text-center border-red-500 border disabled:bg-gray-300 disabled:border-gray-300 disabled:text-gray-500" placeholder="Password (optional)">
            <div class="flex justify-center gap-3 mb-3 mt-8 justify-start">
              <button type="button"
                      [disabled]="isUploading"
                      (click)="uploadFile()"
                      [hidden]="successfulUpload"
                      class="text-sm font-medium border border-blue-500 px-7 py-3 bg-blue-500 text-blue-50 rounded-lg hover:bg-blue-600 ease-in-out disabled:bg-gray-300 disabled:border-gray-300 disabled:text-gray-500">
                {{ !isUploading ? 'UPLOAD' : 'UPLOADING...'}}
              </button>
              <button type="button"
                      [hidden]="successfulUpload"
                      (click)="removeFile()"
                      class="text-sm font-medium border border-red-500 px-7 py-3 rounded-lg text-red-500 hover:bg-red-500 hover:text-white ease-in-out disabled:bg-gray-300 disabled:border-gray-300 disabled:text-gray-500">
                {{ !isUploading ? 'REMOVE' : 'CANCEL'}}
              </button>
            </div>
          </div>
        </div>
        <div [hidden]="!isUploading" class="progress-border-div border rounded-2xl h-6 mt-10 w-full overflow-hidden">
          <div id="progressBar" class="progress-bar rounded-2xl" [style.width.%]="uploadProgress"></div>
        </div>
        <p class="text-red-500 font-bold">{{errorMessage}}</p>
        <p class="text-pink-500 font-bold text-lg" *ngIf="errorMessage == 'Access key is not valid.'">Click <a class="underline font-extrabold" routerLink="/key">here</a> to update your access key</p>
        <p [hidden]="!showDownloadLink" class="text-pink-400 max-w-xs overflow-hidden overflow-ellipsis whitespace-nowrap font-bold underline">{{downloadLink}}</p>
        <button [hidden]="!showDownloadLink" (click)="copyDownloadLink()" class="mt-5 text-xl weight-bold font-medium px-4 py-3 bg-gray-400 text-blue-50 rounded-lg hover:bg-gray-500 ease-in-out disabled:bg-gray-300">Copy 🔗</button>
      </div>
    </div>
  </div>
</main>
